* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

#mountPoint {
    margin: 0;
    padding: 0;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}